:root {
    --color-fondo-hyf: #A2C2E8;
    --color-fondo-myb: #b2e0e0;
    --color-borde-article: #A2C2E8;
    --color-texto: #444444;
    --color-enlaces: #444444;
    --color-h2: #6A8DBA;
    --color-h3: #78b0c5;
    --color-hover: #b2e0e0;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
}
header {
    padding-top: 20px;
    height: 130px;
    background-color: var(--color-fondo-hyf);
}
body {
    background-color: var(--color-fondo-myb);
}
nav {
    margin: 20px;
    text-align: center;
}
li {
    display: inline;
    margin: 2px 15px;
}
a {
    color: var(--color-enlaces);
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color: var(--color-hover);
    font-weight: bold;
}
main {
    background-color: var(--color-fondo-myb);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: var(--color-h2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}
h3 {
    color: var(--color-h3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 18px;
    text-align: justify;
}
p.codigo {
    border: dashed 2px var(--color-borde-article);
    width: 220px;
    color: var(--color-h2);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    padding: 5px;
}
article {
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.3);
    margin: 20px;
    padding: 15px;
    border: solid 2px var(--color-borde-article);
}
footer {
    background-color: var(--color-fondo-hyf);
    text-align: center;
    padding: 12px;
}