:root {
    --color-fondo-hyf: #55AD9B;
    --color-fondo-myb: #95D2B3;
    --color-borde-article: #55AD9B;
    --color-texto: #444444;
    --color-enlaces: #D8EFD3;
    --color-h2: #55AD9B;
    --color-h3: #46cea0;
    --color-hover: #444444;
}
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-texto);
}
header {
    height: 150px;
    background-color: var(--color-fondo-hyf);
}
body {
    background-color: var(--color-fondo-myb);
}
nav {
    margin: 30px;
    text-align: center;
}
li {
    display: inline;
    margin: 2px 15px;
}
a {
    color: var(--color-enlaces);
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color: var(--color-hover);
    font-weight: bold;
}
main {
    background-color: var(--color-fondo-myb);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: var(--color-h2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}
h3 {
    color: var(--color-h3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 18px;
    text-align: justify;
}
p.codigo {
    border: dotted 2px var(--color-borde-article);
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
article {
    margin: 20px;
    padding: 15px;
    border: solid 2px var(--color-borde-article);
}
footer {
    background-color: var(--color-fondo-hyf);
    text-align: center;
    padding: 12px;
}